.event-header {
  min-width: 100vw;
  background-color: $bg-color;
  position: fixed;
  top: 40px;
  padding: 5px 40px;
  z-index: 1000;
  height: 35px;

  .event-header-main {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    height: 70px;
    width: 100%;
    padding: 0 40px;
    background-color: $bg-color;

    h1 {
      display: block;
      width: fit-content;
      position: relative;
      margin: auto;
      font-size: 1.2rem;
      font-weight: 500;
      margin-bottom: 5px;
    }

    .btns-event-header {
      width: fit-content;
      font-size: 1.5rem;
      position: relative;
      margin: auto;

      .right-btn {
        margin: 5px;
        color: $primary-color;
      }
    }
  }

  .search-container {
    width: 100vw;
    background-color: $bg-color;
    position: fixed;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 8px;

    .search-post-field {
      position: relative;
      margin: auto;
      width: 220px;
      height: 30px;
      padding: 2px 5px;
      line-height: 30px;
      border-radius: 8px;
      border: 2px solid $primary-color;
      background-color: #eee;

      input {
        border: none;
        background-color: transparent;
        margin-left: 8px;
      }
    }
    .search-msg {
      position: relative;
      margin: auto;
      height: 30px;
      text-align: center;
      font-size: 0.7rem;
      color: $warning-color;
      height: fit-content;
      background-color: $bg-color;
      width: 100vw;
    }
  }
}

$ig-small-screen: 768px !default;
$ig-xsmall-screen: 480px !default;
$bg-color-gallery: hsl(272, 25%, 52%);

@mixin vendor-prefix($name, $value) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$vendor}#{$name}: #{$value};
  }
}

.gallery {
  margin-top: 100px;
  width: 100%;
  border: 2px solid $bg-color-gallery;
  box-sizing: border-box;
  background-color: $bg-color-gallery;
  padding-top: 8px;

  .gallery-action-btns-container {
    height: 40px;
  }
}

.img-menu-dropdown {
  position: relative;
  width: 50px;
  margin: auto;
  text-align: center;
  background-color: #fff;
  height: 30px;
  line-height: 30px;
  z-index: 1000;
  border-radius: 8px;
  margin-bottom: 8px;
  transition: all 0.3s ease-out;
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  filter: drop-shadow(0 2px 2px lighten(#000, 10%));

  button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.2rem;
  }

  .img-menu-dropdown-content {
    position: absolute;
    top: 30px;
    left: -50%;
    background-color: #fff;
    width: 100px;
    height: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    font-size: 0.75rem;
    border-radius: 5px;

    a {
      color: #000;
      padding: 3px 5px;
      text-decoration: none;
      display: none;

      span {
        margin-left: 5px;
      }

      &:hover {
        background-color: $primary-color;
        border-radius: 5px;
        color: #fff;

        &:first-child {
          border-radius: 5px 5px 0 0;
        }

        &:last-child {
          border-radius: 0 0 5px 5px;
        }
      }
    }
  }
  &:hover {
    border-radius: 8px 8px 0 0;

    .img-menu-dropdown-content {
      height: fit-content;
      a {
        display: block;
      }
    }
  }
}
.like-btn-container {
  position: relative;
  width: 50px;
  margin: auto;
  text-align: center;
  background-color: #fff;
  height: 30px;
  line-height: 30px;
  z-index: 1000;
  border-radius: 8px;
  margin-bottom: 8px;
  transition: all 0.3s ease-out;
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  filter: drop-shadow(0 2px 2px lighten(#000, 10%));

  button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.2rem;
  }
}

.image-gallery-icon {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: $action-color;
      .image-gallery-svg {
        transform: scale(1.1);
      }
    }
  }

  &:focus {
    // a11y support
    outline: 2px solid $action-color;
  }
}

.image-gallery-fullscreen-button {
  right: 25px;
}

.image-gallery-play-button {
  left: 25px;
}

// End of Icon styles

.image-gallery {
  @include vendor-prefix('user-select', none);
  -webkit-tap-highlight-color: $bg-color-gallery;

  &.fullscreen-modal {
    height: 100vh;
    background-color: $bg-color-gallery;
  }
}

.image-gallery-content {
  &.fullscreen {
    background-color: $bg-color-gallery;
  }
}

.image-gallery-thumbnail {
  &.active,
  &:focus {
    border: 4px solid $action-color;

    @media (max-width: $ig-small-screen) {
      border: 3px solid $action-color;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      outline: none;
      border: 4px solid $action-color;

      @media (max-width: $ig-small-screen) {
        border: 3px solid $action-color;
      }
    }
  }
}
