/* Font Varibales*/
$primary-font: 'Montserrat', sans-serif;
$text-font: 'Roboto', sans-serif;

/* Color  Variables*/
$bg-color: #f2ede3;
$text-color: #291b25;
$primary-color: #8947c2;
$action-color: #26c2ab;
$warning-color: #c23028;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;1,200&family=Roboto:wght@100&display=swap');
